/* Testimonials */
.PeopleSection {
  width: 100%;
  margin-top: var(--padding-top);
  margin-inline: 0px;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--section-bg-color);
}
.PeopleSection .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 55px 40px;
  padding-inline: 30px;
}
.PeopleSection .boxes .box {
  width: 300px;
  position: relative;
  background-color: white;
  box-shadow: var(--main-shadow);
  padding: 20px;
  border-top: 2px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.PeopleSection .boxes .box:hover {
  border-top: 2px solid #ffa500;
}
.PeopleSection .boxes .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-bg-color);
  top: -50px;
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.PeopleSection .boxes .box:hover img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.selectPeople {
  border: 2px solid #ffa500;
  width: 300px;
  position: relative;
  background-color: white;
  box-shadow: var(--main-shadow);
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.PeopleSection .boxes .box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.PeopleSection .boxes .box span {
  color: var(--second-color);
}
